.archive-list {
    width: 100vw;
}

.archive-grid {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh 800px;
}

.recent-work {
    align-self: center;
    justify-self: center;
}
.recent-work-links {
    text-align: center;
}


.archive-work {
    align-self: center;
    justify-self: center;
    width: 80%;
}
.archive-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-row-gap: 20px;
    text-align: center;
}
.links {
    justify-self: center;
}



@media(max-width: 1100px) {
    .archive-grid {
        grid-template-rows: 100vh 1200px;
    }

    .archive-links {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-row-gap: 20px;
    }

    .links {
        align-self: center;
    }
}