.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    align-content: center;
    justify-content: center;
}

.img-container {
    position: relative;
    text-align: center;

    overflow: hidden;
}

img {
    width: 100%;

    transition: 0.3s ease;
}
img:hover {
    scale: 1.1;

    cursor: zoom-in;
    transition: 0.3s ease;
}

@media(max-width: 568px) {
    .img-grid {
        grid-template-columns: 1fr;
    }
    .img-grid img {
        width: 100%;
    }
}