.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    align-content: center;
    justify-content: center;
}

.img-container {
    position: relative;
    text-align: center;

    overflow: hidden;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    visibility: visible;
}

img {
    width: 100%;
    opacity: 0.8;

    transition: 0.3s ease;
}
img:hover {
    opacity: 0.5;
    scale: 1.1;

    transition: 0.3s ease;
}

@media(max-width: 568px) {
    .img-grid {
        grid-template-columns: 1fr;
    }
    .img-grid img {
        width: 100%;
    }
}