.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    align-content: center;
    justify-content: center;
}
.img-grid img {
    width: 100%;
}

.image:hover {
    cursor: pointer;
}

@media(max-width: 568px) {
    .img-grid {
        grid-template-columns: 1fr;
    }
    .img-grid img {
        width: 100%;
    }
}