#info-button {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    z-index: 100;
    background-color: transparent;
}
.info {
    height: 60px;
    width: 60px;
    background-color: transparent;

    font-size: 30px;
    font-weight: bold;
    color: black;
    border-color: black;
    border-style: solid;
    opacity: 80%;
    border-width: 4px;
}
.info:hover {
    color: gray;
    border-color: gray;
    cursor: pointer;
}
#modal {
    background-color: whitesmoke;
}
.w3-container h5 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}