body:hover {
    cursor: pointer;
}

.buttons {
    width: 100%;
}

#next-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: center;
    z-index: 100;
    display:block;
    background-color: transparent;
}
#next-model {
    height: 60px;
    width: 60px;
    background-color: transparent;

    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    border-width: 4px;
    border-color: whitesmoke;
    border-style: solid;
    opacity: 80%;
}
#next-model:hover {
    color: gray;
    border-color: gray;
    cursor: pointer;
}

#prev-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: center;
    z-index: 100;
    display:block;
    background-color: transparent;
    visibility: hidden;
    z-index: 100;
}
#prev-model {
    height: 60px;
    width: 60px;
    background-color: transparent;

    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    border-color: whitesmoke;
    border-style: solid;
    opacity: 80%;
    border-width: 4px;
}
#prev-model:hover {
    color: gray;
    border-color: gray;
    cursor: pointer;
}

#model-index {
    position: absolute;
    bottom: 10px;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    background-color: transparent;
    color: whitesmoke;
    z-index: 99;
}
#model-number, #total-model-number {
    color: whitesmoke;
    font-weight: bold;
}

#instructions-button {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    z-index: 100;
    background-color: transparent;
}
.instructions_btn {
    height: 60px;
    width: 60px;
    background-color: transparent;

    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    border-color: whitesmoke;
    border-style: solid;
    opacity: 80%;
    border-width: 4px;
}
.instructions_btn:hover {
    color: gray;
    border-color: gray;
    cursor: pointer;
}

#modal {
    background-color: whitesmoke;
}
.w3-container h5 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}