/*boiler plate*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

/*text: font, style, colour*/
h1, h2, h3 {
    color: whitesmoke;
}
h2, h3 {
    padding-block: 10px;
}

/*hyperlinks*/
a {
    color: whitesmoke;
    list-style: none;
    text-decoration: none;
}
a:hover {
    color: gray;
}

/*background color*/
body {
    background-color: #242526;
}

/*main*/
main {
    width: 90%;
    margin: auto;
}

/*gallery*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    align-content: center;
}
.gallery img {
    width: 100%;
}
.image:hover {
    cursor: pointer;
}

/*header*/
header {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: 75% 1fr 1fr 1fr;
    grid-template-rows: 10vh;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.header-home {
    justify-self: left;
    align-self: center;
}

.header-archive, .header-about, .header-contact {
    justify-self: right;
    align-self: center;
}

/*footer*/
footer {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
.footer {
    justify-self: right;
    align-self: center;
}