/*boiler plate*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

/*text: font, style, colour*/
h1, h2, h3, h4 {
    color: whitesmoke;
}
h2, h3 {
    padding-block: 10px;
}

/*hyperlinks*/
a {
    color: whitesmoke;
    list-style: none;
    text-decoration: none;
}
a:hover {
    color: gray;
}

/*main*/
main {
    width: 100%;
    margin: auto;
    z-index: 0;
}

body {
    background-color: #242526;
    overflow-x: hidden;
}

/*header*/
header {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: transparent;
}
header .navbar .info {
    align-self: center;
    justify-self: center;
}

/*pop-out side nav bar*/
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #242526;
    opacity: 0.8;
    overflow-x: hidden;
    padding-top: 90px;
    transition: 0.5s;
}

.side-nav a {
    padding: 30px 10px 10px 30px; /*top,right,bottom,left*/
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    /*background-color: blue;*/
    display: block;
    transition: 0.3s;
}
.side-nav a:hover {
    color: gray;
}

button {
    position: fixed;
    left: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    font-size: 50px;
    color:whitesmoke;
    overflow: hidden;
    outline: none;
}
button:hover {
    cursor: pointer;
    color: gray;
}
.side-nav .btn-close {
    position: absolute;
    background-color: transparent;
    top: 0px;
    left: 185px;
    font-size: 50px;
}
.navbar .openslide {
    background-color: #242526;
}

/*optional sticky copyright text*/
.copyright {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.model-info {
    position: fixed;
    bottom: 10px;
    left: 20px;
}

@media only screen and (hover: none) and (pointer: coarse){

    .copyright {
        display: none;
    }

}

/*navbar - burger menu sticky*/
.sticky {
    position: fixed;
}

.sticky + main {
    padding-top: 0px;
}

/*gallery*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-template-rows: 1fr;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;
}
.gallery img {
    width: 100vw;
}

.gallery-collages {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 10px;
    align-content: center;
    justify-content: center;
}
.gallery-collages img {
    width: 50vw;
}

@media(max-width: 568px) {
    
    .gallery-collages {
        grid-template-columns: 1fr;
    }
    .gallery-collages img {
        width: 100vw;
    }

    .gallery-fc1 {
        height: 100%;
        padding-bottom: 30px;
    }

}

.image:hover {
    cursor: pointer;
}

/*videos*/
.video-container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
} 
.video {
    width: 90vw;
    height: 100vh;
    align-self: center;
    justify-self: center;
}

@media(max-width:958px) {
    .video-container {
        padding-top: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
        grid-row-gap: 10px;
    }
    .video {
        width: 90vw;
        height: 30vh;
    }
}

/*page descriptions*/
.description-container {
    display: grid;
    margin: auto;
    width: 90vw;
    height: 50vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-self: center;
    justify-self: center;
    padding-top: 30px;
}
.description-container h2 {
    text-align: right;
    padding-bottom: 20px;
}
.description-container h3 {
    text-align: justify;
}

@media(max-width:958px) {
    .description-container {
        display: none;
    }
}

/*footer*/
footer {
    width: 90%;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.footer {
    justify-self: right;
    align-self: center;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}    
/* Track */
::-webkit-scrollbar-track {
    background: #242526;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: whitesmoke;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

/*page loader*/
.content {
    display: none;
}

.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #242526;
    position: absolute;
}
.loader>div {
    height: 100px;
    width: 100px;
    border: 15px solid whitesmoke;
    border-top-color: gray;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}