---
layout: 'base.njk'
---

<article class="main-article">
    <div class="container container--narrow flow">
        <h2 class="article-title">{{ title }}</h2>
        <h3 class="article-title">{{ date | postDate }}</h3>
        
        <br>

        {{ content | safe }}

        {% include 'grid-gallery.njk' %}

        {% include 'social-share-links.njk' %}
    </div>
</article>