<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

        <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

        <meta name="Description" content="{{ description }}">
        <title>Bryan Ridpath</title>
    </head>
    <body>

          {% include 'header.njk' %}
          <main>
            {{ content | safe }}
          </main>
          {% include 'footer.njk'%}

        <script>
          CMS.registerPreviewStyle("{{ '/css/main.css' | url }}");
        </script>
        <script src="/js/netlifyIdentity.js"></script>
        <script src="/js/darkmode.js"></script>
        <script src="/js/navigation.js"></script>
    </body>
</html>