<section id="featured-works" class="featured-works">
    <div class="container container--narrow flow">
        <h3 class="section-title">Recent <a href="blog">Blog</a> Posts</h3>
        <ul role="list" class="works__list">
            {%- for post in collections.post | reverse -%}
                {% if loop.index0 < 8 %}
                    {% include 'article-snippet.njk' %}
                {% endif %}
            {%- endfor -%}
        </ul>
    </div>
</section>