<footer>
    <div class="container">
        <ul aria-label="Social Links">
            <li><a id="social__links" href="https://www.instagram.com/bralri" target="_blank" rel="noopener" title="Instagram" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a id="social__links" href="https://www.github.com/bralri" target="_blank" rel="noopener" title="GitHub" aria-label="Instagram"><i class="fa-brands fa-github"></i></a></li>
            <li><a id="social__links" href="https://www.twitch.tv/braid2" target="_blank" rel="noopener" title="Twitch" aria-label="Instagram"><i class="fa-brands fa-twitch"></i></a></li>
        </ul>
        </p>
        <p>subscribe to this websites <a href="/rss.xml" title="RSS Feed">RSS Feed</a>, or subscribe to the <a href="" title="News Letter">News Letter</a></p><br>
        <p>this website uses <a href="https://brailleinstitute.org/freefont" target="_blank" rel="noopener" title="Atkinson Hyperlegible Font">Atkinson Hyperlegible Font</a>, a font designed to improve readability</p><br>
        <p>elsewhere on the web: <a href="https://gallery.cloudshelter.app" target="_blank" rel="noopener" title="Cloud Shelter Project Space">Cloud Shelter Project Space</a></p>
    
    </div>
</footer>