<footer>
    <div class="container">
        <div class="footer-text">
            <p>📶 Subscribe to the <a href="/rss.xml" title="RSS Feed">RSS Feed</a>.</p><br>
            <p>📩 Subscribe to the <a href="http://eepurl.com/iftvtz" target="_blank" rel="noopener" title="News Letter">News Letter</a>.</p><br>
            <p>🔠 This website uses <a href="https://brailleinstitute.org/freefont" target="_blank" rel="noopener" title="Atkinson Hyperlegible Font">Atkinson Hyperlegible Font</a>.</p><br><br>
            <p><i class="fa-regular fa-copyright"></i> {{ helpers.currentYear() }} - Bryan Ridpath.</p>
        </div>
        <ul aria-label="Social Links" class="social-links">
            <li><a id="social__links" href="https://www.instagram.com/bralri" target="_blank" rel="noopener" title="Instagram" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a id="social__links" href="https://www.github.com/bralri" target="_blank" rel="noopener" title="GitHub" aria-label="GitHub"><i class="fa-brands fa-github"></i></a></li>
            <li><a id="social__links" href="https://www.twitch.tv/bralri" target="_blank" rel="noopener" title="Twitch" aria-label="Twitch"><i class="fa-brands fa-twitch"></i></a></li>
        </ul>
    </div>
</footer>
  