<footer>

    <p>
        <a id="social__links" href="https://www.instagram.com/bralri" target="_blank" rel="noopener" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a id="social__links" href="https://www.github.com/bralri" target="_blank" rel="noopener" title="GitHub"><i class="fa-brands fa-github"></i></a>
        <a id="social__links" href="https://www.twitch.tv/braid2" target="_blank" rel="noopener" title="Twitch"><i class="fa-brands fa-twitch"></i></a>
    </p><br>
    <p>subscribe to this websites <a href="/rss.xml" title="RSS Feed">RSS Feed</a>, or subscribe to the <a href="" title="News Letter">News Letter</a></p><br>
    <p>this website uses <a href="https://brailleinstitute.org/freefont" target="_blank" rel="noopener" title="Atkinson Hyperlegible Font">Atkinson Hyperlegible Font</a>, a font designed to improve readability</p><br>
    <p>elsewhere on the web: <a href="https://gallery.cloudshelter.app" target="_blank" rel="noopener" title="Cloud Shelter Project Space">Cloud Shelter Project Space</a></p>

</footer>