<div class="photo-grid-container">
    {% for image in gallery %}
        <div class="photo-grid-item">
            <img
                class="photo-grid-image"
                src="{{ image.url }}"
                alt="{{ image.alt }}"
                title="{{ image.title }}"
                loading="lazy"
                tabindex="0"
                aria-label="Open {{ image.title }}">
        </div>
    {% endfor %}
</div>

<div id="image-modal" class="modal">
    <div role="button" aria-label="Previous image" aria-pressed="false">
        <a class="modal-prev" href="#" title="Previous image">
            <i class="fa fa-chevron-left"></i>
        </a>
    </div>
    <div role="button" aria-label="Next image" aria-pressed="false">
        <a class="modal-next" href="#" title="Next image">
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
    <div class="modal-image-container">
        <img id="modal-image" class="modal-content" title="{{ image.title }}">
        <p id="modal-caption" class="modal-caption" aria-label="Caption: {{ image.title }}"></p>
    </div>
</div>