<header>
    <h1><a href="/" title="Home">bralri.net</a></h1>
    <nav>
        <ul class="nav__links">
            <li><a href="/archive" title="Archive">archive</a></li>
            <li><a href="/blog" title="Blog">blog</a></li>
            <li><a href="/about" title="About">about</a></li>
            <li><a href="/contact" title="Contact">contact</a></li>
        </ul>
    </nav>

    <div class="darkmode__btn" title="Toggle Dark Mode">
        <div class="darkmode__btn-indicator">
            <div class="darkmode__btn-icon-container">
                <i class="darkmode__btn-icon fa-solid"></i>
            </div>
        </div>
    </div>
</header>