{% macro getNextItemInCollection(collection) %}

{% set currentItemIndex = 0 %}
{% set countOfItems = collections[collection].length %}

{% for item in collections[collection] %}
  {% if item.url == page.url %}
  	{% set currentItemIndex = loop.index0 %}
	{% endif %}
{% endfor %}

{% set nextItemIndex = currentItemIndex - 1  %}
{% set nextItem = collections[collection][nextItemIndex] %}

{% set prevItemIndex = currentItemIndex + 1  %}
{% set prevItem = collections[collection][prevItemIndex] %}

<section class="next-prev-item-container">
	{% if nextItem %}
	<article class="next-item-snippet">
		<a href="{{ nextItem.url }}" class="next-item-snippet__image">
			<div class="next-item-snippet-img-container">
				<img class="next-item-snippet__image" src="{{ nextItem.data.gallery[0].url }}" alt="{{ nextItem.data.gallery[0].alt }}" title="{{ nextItem.data.gallery[0].title }}">
			</div>
		</a>
		<p><a href="{{ nextItem.url | url }}" class="next-item">{{ nextItem.data.title }}</a> <a href="{{ nextItem.url | url }}" class="next-item"><i class="fa-solid fa-chevron-right"></i></a></p>
	</article>
	{% endif %}

	{% if prevItem %}
	<article class="prev-item-snippet">
		<a href="{{ prevItem.url }}" class="prev-item-snippet__image">
			<div class="prev-item-snippet-img-container">
				<img class="prev-item-snippet__image" src="{{ prevItem.data.gallery[0].url }}" alt="{{ prevItem.data.gallery[0].alt }}" title="{{ prevItem.data.gallery[0].title }}">
			</div>
		</a>
		<p><a href="{{ prevItem.url | url }}" class="prev-item"><i class="fa-solid fa-chevron-left"></i></a> <a href="{{ prevItem.url | url }}" class="prev-item">{{ prevItem.data.title }}</a></p>
	</article>
	{% endif %}

	<div class="clearfix"></div>
</section>

{% endmacro %}