<br>
<div class="share-container">
    <p class="share-text"><i class="fa-solid fa-share-nodes"></i> Share:</p>
    <div class="share-links">
        <a
            href="https://twitter.com/share?url={{ rootURL }}{{ page.url }}&text={{ title }}"
            target="_blank"
            rel="noopener"
            title="Share to Twiiter"
            aria-label="Share to Twiiter">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a
            href="https://www.facebook.com/sharer/sharer.php?u={{ rootURL }}{{ page.url }}"
            target="_blank"
            rel="noopener"
            title="Share to Facebook"
            aria-label="Share to Facebook">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a
            href="http://pinterest.com/pin/create/button/?url={{ rootURL }}{{ page.url }}"
            target="_blank"
            rel="noopener"
            title="Share to Pinterest"
            aria-label="Share to Pinterest">
            <i class="fa-brands fa-pinterest"></i>
        </a>
    </div>
</div>