---
layout: 'base.njk'
---

<article class="main-article">
    <div class="container container--narrow flow">
        <h3 class="article-title">{{ title }}</h3>
        
        <ul role="list" class="works__list">
            {%- for post in collections.works_on_paper | reverse -%}
                {% include 'works-snippet.njk' %}
            {%- endfor -%}
        </ul>
    </div>
</article>

{% include 'selected-works.njk' %}