<li>
    <article class="works-snippet">
        <a href="{{ post.url }}" class="works-snippet__image">
            <div class="works-snippet-img-container">
                <img class="works-snippet__image" src="{{ post.data.gallery[0].url }}" alt="{{ post.data.gallery[0].alt }}" title="{{ post.data.gallery[0].title }}">
            </div>
        </a>
        <h3 class="works-snippet__title" title="{{ post.data.gallery[0].title }}"><a href="{{ post.url }}">{{ post.data.title }}, {{ post.data.year }}</a></h3>
    </article>
</li>