blockquote {
    // max-width: 700px;
    // margin: 32px auto;
    // padding: 20px;
    // position: relative;
    // text-align: justify;
    // text-align-last: left;

    border-left: 4px solid $white;
    margin: 20px 0;
    padding: 0;

        p {
            margin-left: 20px;
        }
}

p.indent {
    text-indent: 30px;

    sup {
        text-indent: 0px;
    }
}