blockquote {
    max-width: 700px;
    margin: 32px auto;
    padding: 20px;
    position: relative;
    text-align: justify;
    text-align-last: left;
}

.indent {
    text-indent: 30px;
}

cite {
    position: absolute;
    bottom: -30px;
    right: 20px;
    color: $grey;
}
