.next-prev-item-container {
    padding-top: 80px;
    margin: 0;

    p i {
        font-size: 24px;
    }
}

.next-item-snippet,
.prev-item-snippet {
    width: 45%;
    box-sizing: border-box;
}

.next-item-snippet i,
.prev-item-snippet i {
  vertical-align: middle;
}

.next-item,
.prev-item {
    margin-top: 20px;
}

.next-item-snippet {
    margin-left: 0;
    float: right;

    p {
        text-align: right;
        margin: 20px 0 0;
    }
}

.prev-item-snippet {
    margin-right: 0;
    float: left;

    p {
        margin: 20px 0 0;
    }
}

.prev-item-snippet__image {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.next-item-snippet__image {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-right: -100px;
}

.next-item-snippet-img-container,
.prev-item-snippet-img-container {
    width: 80%;
    padding-bottom: 80%;
    position: relative;
}

.prev-item-snippet__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.next-item-snippet__image img {
    position: absolute;
    top: 0;
    right: -10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 50em) {
    .next-prev-item-container {
        padding-top: 80px;
    }

    .next-item-snippet,
    .prev-item-snippet {
        box-sizing: border-box;
        margin: 0;
        display: block;
    }

    .next-item-snippet__image,
    .prev-item-snippet__image {
        display: none;
    }
}
