#caption {
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    padding: 16px;
    display: none;
    width: 500px;

    color: $white;
}
#caption p {
    font-size: 20px;
}
#caption p .author {
    font-weight: 400;
    display: inline-block;
    padding-bottom: 0px;
}
#caption p .date {
    font-weight: 400;
    font-size: 18px;
}

.coordinates {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 16px;
    font-weight: 300;
    font-size: 12px;

    color: $white; //change this based on environment backgrounds etc
    // mix-blend-mode: difference;
}