@charset "UTF-8";
HTML {
  color-scheme: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
}

.container {
  width: min(1110px, 100% - 2rem);
  margin-inline: auto;
}

main .container {
  padding-bottom: 3rem;
}

img {
  cursor: pointer;
}

:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;
}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}
.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

img,
picture {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@font-face {
  font-family: fontRegular;
  src: url(/assets/fonts/Atkinson-Hyperlegible-Regular-102.ttf);
}
@font-face {
  font-family: fontItalic;
  src: url(/assets/fonts/Atkinson-Hyperlegible-Italic-102.ttf);
  font-style: italic;
}
@font-face {
  font-family: fontBold;
  src: url(/assets/fonts/Atkinson-Hyperlegible-Bold-102.ttf);
  font-weight: bold;
}
@font-face {
  font-family: fontBoldItalic;
  src: url(/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf);
  font-style: italic;
  font-weight: bold;
}
h1 {
  font-family: fontBold;
  color: #818181;
  line-height: 1.1;
  font-size: 2rem;
}
h1 a {
  font-family: fontBold;
  color: #000;
  line-height: 1.1;
  font-size: 2rem;
}

h2 {
  font-family: fontRegular;
  color: #818181;
  line-height: 1.1;
  font-size: 1.875rem;
}

h3 {
  font-family: fontRegular;
  line-height: 1.1;
  font-size: 1.375rem;
}

p {
  font-family: fontRegular;
  color: #818181;
  font-size: 1.0625rem;
  text-align: justify;
}
p a {
  font-family: fontItalic;
  text-decoration: underline;
  text-decoration-style: dotted;
}

span {
  font-family: fontItalic;
  color: #818181;
  font-size: 1.0625rem;
}

figcaption {
  font-family: fontItalic;
  color: #818181;
  font-size: 0.9375rem;
  opacity: 0.9;
  margin: 1rem 0;
}

a {
  font-family: fontBoldItalic;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #818181;
  transition: all 0.3s ease 0s;
}

#social__links {
  font-size: 1.375rem;
  padding-right: 10px;
}

.darkmode {
  background-color: #161618;
  color-scheme: dark;
}
.darkmode h1 {
  color: #ffffff;
}
.darkmode h1 a {
  color: #ffffff;
}
.darkmode h2 {
  color: #818181;
}
.darkmode p {
  color: #ffffff;
}
.darkmode span {
  color: #818181;
}
.darkmode figcaption {
  color: #818181;
}
.darkmode a {
  color: #ffffff;
}
.darkmode a:hover {
  color: #818181;
}
.darkmode .darkmode__btn {
  box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.3), inset 2px 0 2px rgba(0, 0, 0, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.3);
}
.darkmode .darkmode__btn-indicator {
  transform: translateX(28px);
  background-color: #161618;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.darkmode .darkmode__btn-icon {
  color: #ffffff;
}
.darkmode img {
  filter: brightness(0.8) contrast(1.2);
}
.darkmode .snippet__btn {
  background-color: #212124;
}
.darkmode .snippet__btn:hover {
  color: #ffffff;
}

@media (max-width: 50em) {
  .darkmode .mobile-nav-toggle {
    color: #ffffff;
  }
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper h1 {
  margin-right: auto;
}

.mobile-nav-toggle {
  display: none;
}

.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.darkmode__btn {
  margin-left: 20px;
}

@media (max-width: 50em) {
  .primary-header[data-overlay] {
    position: relative;
    z-index: 999;
  }
  .primary-navigation {
    display: none;
    position: fixed;
    padding: 2rem;
    inset: 7rem 1rem auto;
    margin-inline: auto;
    background: #fff;
    border-radius: 0.25rem;
    gap: 2rem;
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.05);
  }
  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  }
  .nav__links {
    display: grid;
    gap: 2rem;
    text-align: center;
  }
  .nav__links a {
    color: #161618;
  }
  .nav__links a:hover, .nav__links a:focus {
    color: #212124;
  }
  .primary-navigation[data-visible] {
    display: block;
  }
  .mobile-nav-toggle {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 1rem;
    background: transparent;
    border: 0;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .mobile-nav-toggle .icon-close {
    display: none;
  }
  .mobile-nav-toggle[aria-expanded=true] .icon-close {
    font-size: 2.5rem;
    display: block;
  }
  .mobile-nav-toggle[aria-expanded=true] .icon-hamburger {
    display: none;
  }
  .darkmode__btn {
    display: block;
    position: fixed;
    z-index: 998;
    right: 4rem;
  }
}
header .container {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

footer .container {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.articles__list {
  --flow-spacer: 48px;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 16px);
}

.section-title {
  text-align: left;
}

.featured-articles {
  background-color: none;
}

.articles__list {
  --flow-spacer: 48px;
}

li {
  list-style: none;
}

.snippet {
  display: grid;
  gap: 16px;
  grid-template-areas: "image" "title" "meta" "body" "button";
}

.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.snippet__title {
  grid-area: title;
}

.snippet__meta {
  grid-area: meta;
}

@media (min-width: 720px) {
  .snippet {
    grid-template-areas: "title image" "meta image" "body image" "button image";
    grid-column-gap: 64px;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content 1fr;
  }
}
.main-article img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */
div.cssbox {
  display: inline-block;
}

span.cssbox_full {
  z-index: 999999;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transition: opacity 0.5s linear;
}

span.cssbox_full img {
  position: fixed;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px black;
}

a.cssbox_close,
a.cssbox_prev,
a.cssbox_next {
  z-index: 999999;
  position: fixed;
  text-decoration: none;
  visibility: hidden;
  color: white;
  font-size: 36px;
}

a.cssbox_close {
  top: 1%;
  right: 1%;
}

a.cssbox_close::after {
  content: "×";
}

a.cssbox_prev,
a.cssbox_next {
  top: 50%;
  transform: translate(0%, -50%);
}

a.cssbox_prev {
  left: 5%;
}

a.cssbox_next {
  right: 5%;
}

a:target ~ a.cssbox_close,
a:target ~ a.cssbox_prev,
a:target ~ a.cssbox_next {
  visibility: visible;
}

a:target > img.cssbox_thumb + span.cssbox_full {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

/* This is the end of CSSBox */
.snippet__btn {
  background-color: #161618;
  color: #fff;
  grid-area: button;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.snippet__btn:hover {
  color: #fff;
}

.darkmode__btn {
  background-color: #fff;
  width: 60px;
  height: 32px;
  border-radius: 40px;
  padding: 0 2px;
  box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.1), inset 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.darkmode__btn-indicator {
  background-color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.darkmode__btn-icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmode__btn-icon {
  color: #000;
  font-size: 12px;
}

/*# sourceMappingURL=main.css.map */
