HTML {
    color-scheme: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-l;
    color: $txt-primary-l;
}

.container {
    $max-width: 1110px;
    $padding: 1rem;

    width: min($max-width, 100% - $padding * 2);
    margin-inline: auto;
}

main {
    .container {
        padding-bottom: $--size-700;
    }
}

img {
    cursor: pointer;
}

//

:root {
    --fs-300: 0.9375rem;
    --fs-400: 1.0625rem;
    --fs-500: 1.375rem;
    --fs-600: 1.875rem;
    --fs-700: 2rem;

    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;
}

@media (min-width: 35em) {
    :root {
        --fs-300: 1rem;
        --fs-400: 1.125rem;
        --fs-500: 1.5rem;
        --fs-600: 2.25rem;
        --fs-700: 3rem;
    }
}

// section {
//     padding: 40px 0;
// }

.flex-group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 1em);
}

img,
picture {
  max-width: 100%;
  display: block;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}