HTML {
    color-scheme: dark;
    position: relative;
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $black;
    color: $black;
    padding-bottom: 250px;
}

.container {
    $max-width: 1050px;
    $padding: 1rem;

    width: min($max-width, 100% - $padding * 2);
    margin-inline: auto;
}

main {
    .container {
        padding-bottom: $--size-900;
    }
}

img {
    filter: brightness(.8) contrast(1.2);
}

video {
    cursor: pointer;
    filter: brightness(.8) contrast(1.2);
}

.flex-group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 1em);
}

img,
picture {
  max-width: 100%;
  display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}