@font-face {
    font-family: fontRegular;
    src: url(/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2);
    font-display: swap;
}
@font-face {
    font-family: fontItalic;
    src: url(/assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2);
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: fontBold;
    src: url(/assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2);
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: fontBoldItalic;
    src: url(/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2);
    font-style: italic;
    font-weight: bold;
    font-display: swap;
}

h1 {
    font-family: fontRegular;
    color: $white;
    line-height: 1.1;
    font-size: $--fs-500;

        a {
            font-family: fontItalic;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 2px;
            text-decoration-color: $white;
        }
}

h2 {
    font-family: fontRegular;
    color: $white;
    line-height: 1.1;
    font-size: $--fs-400;
        a {
            font-family: fontItalic;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 2px;
            text-decoration-color: $white;
        }
}

h3 {
    font-family: fontRegular;
    color: $white;
    line-height: 1.25;
    font-size: $--fs-500;
        a {
            font-family: fontItalic;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 2px;
            text-decoration-color: $white;
        }
}

h4 {
    font-family: fontRegular;
    color: $white;
    line-height: 1.1;
    font-size: $--fs-400;
        a {
            font-family: fontItalic;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 2px;
            text-decoration-color: $white;
        }
}


p {
    font-family: fontRegular;
    color: $white;
    font-size: $--fs-400;

        a {
            font-family: fontItalic;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 2px;
            text-decoration-color: $white;
        }
}

span {
    font-family: fontItalic;
    color: $white;
    font-size: $--fs-400;
}

figcaption {
    font-family: fontItalic;
    color: $grey;
    font-size: $--fs-300;
    opacity: 0.9;
    margin: 1rem 0;
}

a {
    font-family: fontItalic;
    text-decoration: none;
    color: $white;

    transition: all 0.3s ease 0s;

        &:hover {
            color: $grey;
            text-decoration-color: $grey;
            transition: all 0.3s ease 0s;
        }
}

#social__links {
    font-size:  $--fs-500;
    padding-right: 10px;
}

.share-text {
    color: $accent;
}