@font-face {
    font-family: fontRegular;
    src: url(/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2);
    font-display: swap;
}
@font-face {
    font-family: fontItalic;
    src: url(/assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2);
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: fontBold;
    src: url(/assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2);
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: fontBoldItalic;
    src: url(/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2);
    font-style: italic;
    font-weight: bold;
    font-display: swap;
}

h1 {
    font-family: fontRegular;
    color: $white;
    line-height: 1.1;
    font-size: $--fs-500;

        a {
            font-family: fontItalic;
            text-decoration: none;
            // text-decoration-style: solid;
            // text-decoration-thickness: 2px;
            // text-decoration-color: $accent;
            // text-underline-position: under;
        }
}

h2 {
    font-family: fontRegular;
    color: $grey;
    line-height: 1.1;
    font-size: $--fs-400;
        a {
            font-family: fontItalic;
            color: $grey;
            text-decoration: none;
            // text-decoration-style: solid;
            // text-decoration-thickness: 2px;
            // text-decoration-color: $accent;
            // text-underline-position: under;
        }
}

h3 {
    font-family: fontRegular;
    color: $white;
    line-height: 1.1;
    font-size: $--fs-500;
        a {
            font-family: fontItalic;
            text-decoration: none;
            // text-decoration-style: solid;
            // text-decoration-thickness: 2px;
            // text-decoration-color: $accent;
            // text-underline-position: under;
        }
}

h4 {
    font-family: fontRegular;
    color: $white;
    line-height: 1.1;
    font-size: $--fs-400;
        a {
            font-family: fontItalic;
            text-decoration: none;
            // text-decoration-style: solid;
            // text-decoration-thickness: 2px;
            // text-decoration-color: $accent;
            // text-underline-position: under;
            // line-height: 1.5;
        }
}


p {
    font-family: fontRegular;
    color: $white;
    font-size: $--fs-400;

        a {
            font-family: fontItalic;
            text-decoration: none;
            // text-decoration-style: solid;
            // text-decoration-thickness: 2px;
            // text-decoration-color: $accent;
            // text-underline-position: under;
        }
}

// span {
//     font-family: fontItalic;
//     color: $white;
//     font-size: $--fs-400;
// }

figcaption {
    font-family: fontItalic;
    color: $grey;
    font-size: $--fs-300;
    opacity: 0.9;
    margin: 1rem 0;
}

a {
    font-family: fontItalic;
    text-decoration: none;
    color: $white;

    // text-decoration-color: $accent;
    // text-underline-position: under;

    transition: all 0.3s ease 0s;

        &:hover {
            color: $grey;
            // text-decoration-color: $accent;
            transition: all 0.3s ease 0s;
        }
}

a.anchor-tag {
    color: $accent;
    font-size: $--fs-500;
    opacity: 0;
    text-decoration: underline;
    margin-right: 5px;
    transition: all 0.3s ease-in-out;

        &:hover {
            text-decoration: none;
            transition: all 0.3s ease-in-out;
        }
}
h3:hover {
    a.anchor-tag {
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
}
h4:hover {
    a.anchor-tag {
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
}
.blog-section {
    padding-top: 20px;
}

#social__links {
    font-size:  $--fs-500;
    padding-right: 10px;
}

.icon-accent {
    color: $accent;
}

.icon-grey {
    color: $grey;
}

sup {
    display: inline-block;
    vertical-align: super; 
    font-size: 60%;
}

sub {
    display: inline-block;
    vertical-align: sub; 
}
h3 {
    sub {
        font-size: $--fs-500;
    }
}

p {
    sub {
        font-size: $--fs-300;
    }
}

code {
    color: $white;
}

.tag-filter {
    color: $grey;

        &:hover {
            color: $white;
        }
}
.tag-icon {
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 0;
        }
}

// CSS2DRenderer
.tooltip {
    background-color: $black;
    color: $white;
    padding: 10px;
    position: relative;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity, transform;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 0.5;
}