---
eleventyExcludeFromCollections: true
layout: 'layouts/base.njk'

title: "Submit to the Archive"
type: "WebPage"
description: "Contact Bryan Ridpath."
date: 2017-01-01
thumbnail: "/assets/bralri.webp"
---

<section class="container container--narrow flow">
    <h1 class="section-title">Submit your Vessel to the Archive</h1>

    <form method="POST" name="submission" data-netlify-recaptcha="true" netlify>
  
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Name / Alias *">

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email *">

      <label for="file">File</label>
      <input name="file" id="file" type="file">

      <button type="submit">Send</button>

      <div data-netlify-recaptcha="true"></div>
    </form>
</section>