---
layout: 'layouts/base.njk'
---

<article class="main-article">
    <div class="container container--narrow flow">
        <h3 class="article-title">{{ title }}</h3>
        <p class="article-title"><span>{{ date | postDate }}</span></p>
        
        <br>

        {{ content | safe }}

        {% include 'layouts/social-share-links.njk' %}
    </div>
</article>

{% include 'layouts/selected-articles.njk' %}