---
layout: 'layouts/base.njk'
---

<article class="main-article">
    <div class="container container--narrow flow">
        <h1 class="article-title">{{ title }}</h1>
        <p class="article-date"><span>{{ date | postDate }}</span></p>
        
        <br>

        {{ content | safe }}

        {% include 'layouts/grid-gallery.njk' %}

        {% include 'layouts/social-share-links.njk' %}
    </div>
</article>

{% include 'layouts/selected-articles.njk' %}

<script src="/js/modal.min.js"></script>