<section id="featured-articles" class="featured-articles blog-section">
    <div class="container container--narrow flow">
        <h3 class="section-title"><a href="#featured-articles" class="anchor-tag">#</a> Featured <a href="blog">Blog</a> Posts</h3>
        <ul role="list" class="works__list">
            {%- for post in collections.post | reverse -%}
                {% if loop.index0 < 8 %}
                    {% include 'layouts/article-snippet.njk' %}
                {% endif %}
            {%- endfor -%}
        </ul>
    </div>
</section>