<footer>
    <div class="container">
        <div class="footer-text">
            <p>
                <i class="fa-solid fa-star-of-life icon-accent"></i>
                RSS Feeds:
                <a
                    href="/rss.xml"
                    title="Main RSS Feed"
                    aria-label="Open the Main RSS Feed">Main</a>

                |

                <a
                    href="/blog.xml"
                    title="Blog RSS Feed"
                    aria-label="Open the Blog RSS Feed">Blog</a>

                |

                <a
                    href="/works.xml"
                    title="Works RSS Feed"
                    aria-label="Open the Works RSS Feed">Works</a>

                
            </p>
            <br>
                <p>
                    <i class="fa-solid fa-star-of-life icon-accent"></i>
                    Subscribe to the
                    <a
                        href="http://eepurl.com/iftvtz"
                        title="News Letter"
                        aria-label="Open to subscribe to the News Letter">News Letter</a>
                </p>
                <br>
                    <p>
                        <i class="fa-solid fa-star-of-life icon-accent"></i>
                        <a
                            href="https://instagram.com/bralri"
                            title="Instagram"
                            aria-label="Open to visit instagram.com/bralri">Instagram</a>

                        |

                        <a
                            href="https://twitter.com/bryanridpath"
                            title="Twitter"
                            aria-label="Open to visit twitter.com/bryanridpath">Twitter</a>

                        |

                        <a
                            href="https://www.github.com/bralri"
                            title="GitHub"
                            aria-label="Open to visit github.com/bralri">GitHub</a>
                    </p>
                    <br>
                    <br>
                        <p style="color: #808080;">
                            <i class="fa-regular fa-copyright"></i>
                            {{ helpers.currentYear() }}
                            ~ Bryan Ridpath
                        </p>
        </div>
    </div>
</footer>