<header class="primary-header">
    <div class="container">
        <div class="nav-wrapper">
            <h2><a href="/" title="Home" aria-label="Home button">BRYAN RIDPATH</a></h2>
            <h2><button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
                <i class="icon-hamburger | fa-solid fa-bars" alt="" aria-hidden="true"></i>
                <i class="icon-close | fa-solid fa-xmark" alt="" aria-hidden="true"></i>
                <span class="visually-hidden">Menu</span>
            </button></h2>
            <nav class="primary-navigation" id="primary-navigation">
                <ul aria-label="Primary" role="list" class="nav__links">
                    <li><h2><a href="/works" title="Works" aria-label="Link to works page">WORKS</a></h2></li>
                    <li><h2><a href="/blog" title="Blog" aria-label="Link to blog page">BLOG</a></h2></li>
                    <li><h2><a href="/about" title="About" aria-label="Link to about page">ABOUT</a></h2></li>
                    <li><h2><a href="/contact" title="Contact" aria-label="Link to contact page">CONTACT</a></h2></li>
                </ul>
            </nav>
        </div>
    </div>
</header>