<br>
<div class="share-container">
    <ul aria-label="Share Links" class="share-links">
        <li>
            <a
                title="Share Links"
                aria-label="Share Links">
                <i class="fa-regular fa-share-from-square icon-accent"></i>
            </a>
        </li>
        <li>
            <a
                href="https://twitter.com/share?url={{ rootURL }}{{ page.url }}&text={{ title }}"
                target="_blank"
                rel="noopener"
                title="Share to Twiiter"
                aria-label="Share to Twitter">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </li>
        <li>
            <a
                href="https://www.facebook.com/sharer/sharer.php?u={{ rootURL }}{{ page.url }}"
                target="_blank"
                rel="noopener"
                title="Share to Facebook"
                aria-label="Share to Facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>
        <li>
            <a
                href="http://pinterest.com/pin/create/button/?url={{ rootURL }}{{ page.url }}"
                target="_blank"
                rel="noopener"
                title="Share to Pinterest"
                aria-label="Share to Pinterest">
                <i class="fa-brands fa-pinterest"></i>
            </a>
        </li>
    </ul>
</div>