// $primary-l: #fff;
// $off-white: #FAF9F6;
// $secondary-l: #161618;
// $hover: #212124;
// $txt-primary-l: #000;
// $txt-secondary-l: #818181;

// $primary-l: #161618;
// $off-white: #212124;
// $secondary-l: #fff;
// $hover: #FAF9F6;
// $txt-primary-l: #fff;
// $txt-secondary-l: #C9C9C9;

$primary-l: #121212;
$off-white: #212121;
$secondary-l: #e0e0e0;
$hover: #f5f5f5;
$txt-primary-l: #fff;
$txt-secondary-l: #b0b0b0;

// $primary-l: #1e1e1e;
// $off-white: #292929;
// $secondary-l: #fff;
// $hover: #FAF9F6;
// $txt-primary-l: #fff;
// $txt-secondary-l: #a3a3a3;

// $primary-l: #1a1a1a;
// $off-white: #262626;
// $secondary-l: #d8d8d8;
// $hover: #f5f5f5;
// $txt-primary-l: #fff;
// $txt-secondary-l: #b0b0b0;

// $primary-l: #0d0d0d;
// $off-white: #161616;
// $secondary-l: #fff;
// $hover: #FAF9F6;
// $txt-primary-l: #fff;
// $txt-secondary-l: #c3c3c3;

// $primary-l: #212121;
// $off-white: #2f2f2f;
// $secondary-l: #f2f2f2;
// $hover: #FAF9F6;
// $txt-primary-l: #fff;
// $txt-secondary-l: #c3c3c3;