// Light Mode
$primary-l: #fff;
$off-white: #FAF9F6;
$secondary-l: #161618;
$hover: #212124;
$txt-primary-l: #000;
$txt-secondary-l: #818181;

// Dark Mode
$primary-d: #000;
$secondary-d: #161618;
$txt-primary-d: #ffffff;
$txt-secondary-d: #818181;