---
layout: "layouts/app-base.njk"
title: "Build-A-Vessel"
date: 2022-07-28
year: ""
tags: ["featured_work"]
description: "Build-A-Vessel"
thumbnail: "/assets/img/works/build-a-vessel/post-thumbnail.webp"

link: "https://bralri.net/works/build-a-vessel/"

script: "vessels.min.js"
---

<section id="loading">
    <div id="loader"></div>
</section>

<div id="buttons">
    <p>
        <button id="shuffle" title="Shuffle"><i class="fa-solid fa-shuffle"></i></button>
        <button id="reset" title="Reset Camera"><i class="fa-solid fa-camera-rotate"></i></button>
        <button id="download-glb" title="Save Vessel"><i class="fa-solid fa-cloud-arrow-down"></i></button>
    </p>
</div>

<script
    async="async"
    src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>
<script type="importmap">
    {
        "imports": {
            "three": "/js/three/three.module.min.js",
            "three/": "/js/three/"
        }
    }
</script>
<script type="module" src="/js/{{ script }}"></script>