---
title: "Cloud Shelter"
type: "WebPage"
date: 2022-12-17
year: ""
tags: ["featured_work"]
description: "Cloud Shelter is an online virtual project space dedicated to experiements digital arts."
thumbnail: "/assets/img/works/cloud-shelter/post-thumbnail.webp"
---