---
layout: "layouts/app-base.njk"
title: "Build-A-Vessel"
date: 2022-07-28
year: ""
tags: ["featured_work", "digital"]
description: "Build-A-Vessel"
thumbnail: "/assets/img/works/build-a-vessel/post-thumbnail.webp"

link: "https://bralri.net/works/build-a-vessel/"

script: "vessels.min.js"
---

<section id="loading">
    <div id="loader"></div>
</section>


{% include 'layouts/three.njk' %}