---
layout: "layouts/app-base.njk"
title: "Build-A-Vessel"
date: 2022-07-28
year: ""
tags: ["featured_work", "digital"]
description: "Build-A-Vessel"
thumbnail: "/assets/img/works/build-a-vessel/post-thumbnail.webp"

link: "https://bralri.net/works/build-a-vessel/"

script: "vessels.min.js"
---

<section id="loading">
    <div id="loader"></div>
</section>

<div id="buttons">
    <p>
        <button id="shuffle" title="Shuffle"><i class="fa-solid fa-shuffle"></i></button>
        <button id="reset" title="Reset Camera"><i class="fa-solid fa-camera-rotate"></i></button>
        <button id="download-glb" title="Download Vessel"><i class="fa-solid fa-cloud-arrow-down"></i></button>
        <button id="save-img" title="Take Camera Screenshot"><i class="fa-solid fa-image"></i></button>
    </p>
</div>

{% include 'layouts/three.njk' %}