// Main Article Page
.main-article__figure img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
}

.main-article__figure-vert img {
    width: 50%;
    height: 100%;
}

.photo-grid-image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
}

@media (max-width: 50em) {
    .main-article__figure-vert img {
        width: 100%;
    }
}