.works__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5px;
    grid-row-gap: 3rem;
    margin-top: 32px;
}

.works-snippet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.works-snippet__image {
    display: block;
    overflow: hidden;

    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;

    transition: 0.3s ease;
    
        &:hover {
            opacity: 0.75;
            transition: 0.3s ease;
        }
}

.works-snippet__title {
    font-size: 1.0625rem;
    line-height: 1.1;
    margin: 10px 0 0;
}

@media (max-width: 50em) {
    .works__list {
        grid-gap: 4rem;
    }
}