header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 80px 80px;

    h1 {
        margin-right: auto;
    }
}

.nav__links {
    list-style: none;

    li {
        display: inline-block;
        padding: 0 20px;
    }
}

.darkmode__btn {
    margin-left: 20px;
}