header {
    // position: sticky;
    // top: 0;
    // z-index: 999;
    // background-color: $primary-l;
    .container {
        padding-top: $--size-900;
        padding-bottom: $--size-900;
    }
}

@media (max-width: 50em) {
    header {
        .container {
            padding-top: $--size-600;
        }
    }
}
