header {
    .container {
        padding-top: $--size-900;
        padding-bottom: $--size-900;
    }
}

@media (max-width: 50em) {
    header {
        .container {
            padding-top: $--size-600;
        }
    }
}
