/* Photo Grid */
.photo-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
}

.photo-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-grid-image {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;

    transition: 0.3s ease 0s;
    
        &:hover {
            opacity: 0.75;
            transition: 0.3s ease 0s;
        }
}
