.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 100px;
    border-radius: 50%;
}

.profile-name {
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    color: $white;
}

.profile-at {
    text-align: center;
    padding: 5px;
    color: $grey;
}

.links {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $white;
    border-width: 2px;
    padding: 20px;
    width: 290px;
    display: block;
    border-radius: 40px;
}