.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    h1 {
      margin-right: auto;
    }
  }
  
  .mobile-nav-toggle {
    display: none;
  }
  
  .nav__links {
    list-style: none;
  
    li {
      display: inline-block;
      padding: 0 0 0 20px;
    }
  }
  
  @media (max-width: 50em) {
    .primary-header[data-overlay] {
      position: relative;
      z-index: 999;
    }
  
    .primary-navigation {
      display: none;
      position: fixed;
      padding: $--size-600;
      inset: 0;
      margin-inline: auto;
      background: $black;
      border-radius: $--size-100;
      gap: $--size-600;
    }
  
    .nav__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-top: 100px;
    
      li {
        margin-bottom: $--size-600;
      }
  
      a {
        color: $white;
  
        &:focus,
        &:hover {
          color: $grey;
        }
      }
    }
  
    .primary-navigation[data-visible] {
      display: block;
    }
  
    .mobile-nav-toggle {
      cursor: pointer;
      display: block;
      position: fixed;
      right: $--size-400;
      background: transparent;
      border: 0;
      padding: 0.5rem;
      top: 15px;
      font-size: 2rem;
      z-index: 1000;
  
      .icon-close {
        display: none;
      }
    }
  
    .mobile-nav-toggle[aria-expanded="true"] {
      .icon-close {
        font-size: 2.5rem;
        display: block;
      }
  
      .icon-hamburger {
        display: none;
      }
    }
  }
  