---
eleventyExcludeFromCollections: false
layout: "base.njk"

type: "Website"
title: "Bryan Ridpath"
image: "/assets/bralri.jpg"

priority: "0.1"
---

{% include 'featured-works.njk' %}

{% include 'featured-articles.njk' %}