---
eleventyExcludeFromCollections: false
layout: 'layouts/base.njk'

title: "About"
type: "WebPage"
description: "About Bryan Ridpath."
date: 2017-01-01
thumbnail: "/assets/bralri.webp"
---

<section class="container container--narrow flow">
    <h1 class="section-title">About</h1>

    <br>

    <section style="max-width: 500px;">
        <p>Bryan Ridpath (b. 1996) is a Hertfordshire based Artist, Curator and Creative Web Developer.</p>

        <!-- <br>
    
        <p>more</p> -->
    
        <br>
    
        <p>Bryan is the founder and director of <a href="https://www.cloudshelter.space">Cloud Shelter</a> <sup><i class="fa-solid fa-arrow-up-right-from-square icon-grey"></i></sup>, an online exhibition & project space dedicated to showcasing experimental digital arts.</p>
        
        <br>
        <br>

        <h4>Education</h4>
        <p>2015-18 BA Hons Fine Art, University of Hertfordshire</p>

        <br>

        <h4>Selected Exhibitions</h4>
        <p>2023 Home Collection, Tethered Publics, Online</p>
        <p>2022 Remnants, Cloud Shelter, Online</p>
        <p>2022 Jennifer is in Paradise, Ruslan, Manchester</p>
        <p>2021 Looks Like it's Gunna Rain, Motion Sickness, Cambridge</p>

        <br>

        <h4>Residencies</h4>
        <p>2022 Metamorphosis, Transient, Online</p>
        <p>2020 HinterLand, SketchUp Residency, Online</p>
        <p>2018 Things of the Never-Will and Always, Courtyard Arts, Hertford</p>

        <br>

        <h4>Prizes</h4>
        <p>2018 Peter Arnold Award</p>
    </section>
</section>

