---
eleventyExcludeFromCollections: false
layout: 'layouts/base.njk'

title: "About"
type: "WebPage"
description: "About Bryan Ridpath."
date: 2017-01-01
gallery:
  - url: "/assets/bralri.webp"
    title: "Site Logo"
    alt: "Drawing of a face"
---

<section class="container container--narrow flow">
    <h3 class="section-title">About</h3>

    <p><i class="fa-solid fa-star-of-life icon-accent"></i> <a href="https://docs.google.com/document/d/e/2PACX-1vSFYOcODwQn3g2D-RqL-HawOVaA7HR6W7No5AYzwPigIXGqyNJVnCzTbT79EZVioIc08K8AECxGxHEf/pub" 
                title="CV_Bryan_Ridpath_2023.doc"
                target="_blank"
                rel="noopener"
                aria-label="Open Bryan Ridpath CV">
                    CV_Bryan_Ridpath_2023.doc
            </a>
    </p>

    <br><br>

    <h3 class="section-title">Elsewhere</h3>
    <p><i class="fa-solid fa-star-of-life icon-accent"></i> Director of <a href="https://cloudshelter.space" title="Cloud Shelter" aria-label="Link to Cloud Shelter website">Cloud Shelter</a></p>
    <p><i class="fa-solid fa-star-of-life icon-accent"></i> Various <a href="https://github.com/bralri" title="GitHub" target="_blank" rel="noopener">GitHub</a> projects</p>

    <br><br>

    <h3 class="section-title">Follow</h3>
    <p><i class="fa-solid fa-star-of-life icon-accent"></i> <a href="/rss.xml" title="Main RSS Feed" target="_blank" rel="noopener" aria-label="Open Main RSS Feed">Main RSS Feed</a></p>
    <p><i class="fa-solid fa-star-of-life icon-accent"></i> <a href="/blog.xml" title="Blog RSS Feed" target="_blank" rel="noopener" aria-label="Open Main Blog Feed">Blog RSS Feed</a></p>
    <p><i class="fa-solid fa-star-of-life icon-accent"></i> <a href="/works.xml" title="Works RSS Feed" target="_blank" rel="noopener" aria-label="Open Works RSS Feed">Works RSS Feed</a></p>

    <br><br>
    <h3 class="section-title">Support</h3>
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#4c9f51', 'S6S0KBKR0');kofiwidget2.draw();</script> 
</section>