---
{
  "permalink": "works.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "bralri works",
    "description": "bralri.net/works/",
    "language": "en-gb",
    "url": "https://bralri.net/",
    "author": {
      "name": "Bryan Ridpath",
      "email": "bryanridpath@gmail.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}" version="2.0">
    <channel>
        <title>{{ metadata.title }}</title>
        <link>{{ metadata.url }}</link>
        <description>{{ metadata.description }}</description>
        <language>{{ metadata.language }}</language>
        <image>
          <title>{{ metadata.title }}</title>
          <link>{{ metadata.url }}</link>
          <url>http://www.bralri.net/assets/bralri.webp</url>
          <width>406</width>
          <height>406</height>
        </image>
        <lastBuildDate>{{ collections.work | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
        <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml"/>
        <author>
          <name>{{ metadata.author.name }}</name>
          <email>{{ metadata.author.email }}</email>
        </author>
        {%- for post in collections.work | reverse %}
          {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
            <item>
              <title>{{ post.data.title }}</title>
              <link>{{ absolutePostUrl }}</link>
              <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
              <guid>{{ absolutePostUrl }}</guid>
              <description><![CDATA[{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}]]></description>
            </item>
        {%- endfor %}
    </channel>
</rss>