---
eleventyExcludeFromCollections: false
layout: 'layouts/base.njk'

title: "Contact"
type: "WebPage"
description: "Contact Bryan Ridpath."
date: 2017-01-01
thumbnail: "/assets/bralri.webp"
---

<section class="container container--narrow flow">
    <h1 class="section-title">Contact</h1>

    <form method="POST" name="contact" data-netlify-recaptcha="true" netlify>
  
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Name *">

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email *">

      <label for="message">Message</label>
      <textarea id="message" name="message" placeholder="Message *" style="height:200px"></textarea>

      <button type="submit">Send</button>

      <div data-netlify-recaptcha="true"></div>
    </form>
</section>