---
layout: 'base.njk'
---

<h2>contact</h2><br>
<p><a href="mailto:bryanridpath@gmail.com" title="E-Mail">bryanridpath@gmail.com</a></p><br>
<p><a href="https://instagram.com/bralri" title="Instagram">@bralri</a></p><br>