---
layout: 'base.njk'
---

<section class="container">
    <h2 class="section-title">contact</h2><br>
    <p><a href="mailto:bryanridpath@gmail.com" title="E-Mail">e-mail</a></p><br>
    <p><a href="https://instagram.com/bralri" title="Instagram">instagram</a></p><br>
</section>