---
eleventyExcludeFromCollections: false
layout: 'base.njk'

title: "Bryan Ridpath"
type: "WebSite"
description: "Portfolio and Blog for the artist Bryan Ridpath."
date: 2017-01-01
gallery:
  - url: "/assets/bralri.jpg"
    title: "Site Logo"
    alt: "Drawing of a face"

priority: "1.0"
---

{% include 'featured-works.njk' %}

{% include 'featured-articles.njk' %}