---
eleventyExcludeFromCollections: false
layout: 'layouts/base.njk'

title: "Bryan Ridpath"
type: "WebSite"
description: "Portfolio and Blog for the artist Bryan Ridpath."
date: 2017-01-01
thumbnail: "/assets/bralri.webp"
---

{% include 'layouts/featured-works.njk' %}

{% include 'layouts/featured-articles.njk' %}