---
eleventyExcludeFromCollections: false
layout: 'layouts/base.njk'

title: "Bryan Ridpath"
type: "WebSite"
description: "Portfolio and Blog for the artist Bryan Ridpath."
date: 2017-01-01
thumbnail: "/assets/bralri.webp"
---

<!-- <section id="hero" class="hero">
    <div class="container container--narrow">
        <figure class="main-article__figure">
            <a href="/works/jennifer-is-in-paradise">
                <img 
                    src="/assets/img/works/jennifer-is-in-paradise/gallery/jennifer-is-in-paradise-1.webp" 
                    alt="Digital print. Mounted on an unfinshed wall below industrial piping with bright intense spot lighting" 
                    title="Jennifer is in Paradise, 2020"
                    width="100%"
                    height="100%"
                >
            </a>
            <figcaption>Jennifer is in Paradise, 2020</figcaption>
        </figure>
    </div>
</section> -->

{% include 'layouts/featured-works.njk' %}

{% include 'layouts/featured-articles.njk' %}