---
eleventyExcludeFromCollections: true
layout: 'layouts/base.njk'

title: "Links"
type: "WebSite"
description: "Links"
date: 2023-05-16
thumbnail: "/assets/bralri.webp"
---

<section class="container container--narrow flow">
    <h3 class="section-title">Links</h3>

    <br>

    <p>
        <i class="fa-solid fa-star-of-life icon-accent"></i>
        <a
            href="https://instagram.com/bralri"
            title="Instagram"
            aria-label="Instagram Link">Instagram</a>
    </p>

    <p>
        <i class="fa-solid fa-star-of-life icon-accent"></i>
        <a
            href="https://twitch.tv/bralri"
            title="Twitch"
            aria-label="Twitch Link">Twitch</a>
    </p>

    <p>
        <i class="fa-solid fa-star-of-life icon-accent"></i>
        <a
            href="https://twitter.com/bryanridpath"
            title="Twitter"
            aria-label="Twitter Link">Twitter</a>
    </p>

    <p>
        <i class="fa-solid fa-star-of-life icon-accent"></i>
        <a
            href="mailto:bryanridpath@gmail.com"
            title="Email"
            aria-label="Email link">Email</a>
    </p>

    <p>
        <i class="fa-solid fa-star-of-life icon-accent"></i>
        <a
            href="https://github.com/bralri"
            title="GitHub"
            aria-label="GitHub link">GitHub</a>
    </p>

    <p>
        <i class="fa-solid fa-star-of-life icon-accent"></i>
        <a
            href="https://cloudshelter.space"
            title="Cloud Shelter"
            aria-label="Cloud Shelter Link">Cloud Shelter</a>
    </p>

    <p>
        <i class="fa-solid fa-star-of-life icon-accent"></i>
        Support me on
        <a
            href="https://ko-fi.com/bralri"
            title="Ko-fi"
            aria-label="Ko-fi Link">Ko-fi
        </a>

        <!-- or

        <a
            href=""
            title="PayPal"
            aria-label="PayPal Link">PayPal
        </a> -->

        or

        <a
            href="https://www.patreon.com/bralri"
            title="Patreon"
            aria-label="Patreon Link">Patreon
        </a>
    </p>
</section>