---
eleventyExcludeFromCollections: false
layout: 'layouts/base.njk'

title: "Works"
type: "WebPage"
description: "Recent Artworks."
date: 2017-01-01
thumbnail: "/assets/bralri.webp"
---

<section id="featured-works" class="featured-works">
    <div class="container container--narrow flow">
        <h3 class="section-title">Works</h3>
        <ul role="list" class="works__list">
            {%- for post in collections.work | reverse -%}
                {% include 'layouts/works-snippet.njk' %}
            {%- endfor -%}
        </ul>
    </div>
</section>