---
eleventyExcludeFromCollections: false
layout: 'base.njk'

type: "BlogPosting"
title: "Works"
image: "/assets/bralri.jpg"

priority: "0.8"
---

<section id="featured-works" class="featured-works">
    <div class="container container--narrow flow">
        <ul role="list" class="works__list">
            {%- for post in collections.work | reverse -%}
                {% include 'works-snippet.njk' %}
            {%- endfor -%}
        </ul>
    </div>
</section>