---
layout: "layouts/app-base.njk"
title: "Build-A-Vessel | Archive"
date: 2023-06-15
year: ""
tags: ["featured_work", "digital"]
description: "An archive for sculptures made via Build-A-Vessel"
thumbnail: "/assets/img/works/build-a-vessel/post-thumbnail.webp"

link: "https://bralri.net/works/archive/"

script: "vessels-archive.min.js"
---

<section id="loading">
    <div id="loader"></div>
</section>

<div id="caption">
    <p></p>
</div>

{% include 'layouts/three.njk' %}